img {
  height: 300px
}




body {
  background-image: url("lottie.jpg"); 
  background-repeat: repeat;
  background-size: 50px 50px;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  color: purple;
  font-size: 38px;
  font-weight: bold, underline;
  background-color: black;
}

h2 {
  color: red;
  background-color: black;
  font-size: 50px;
  
}

p {
  color: red;
  font-size: 30px;
  font-weight: bold;
  background-color: black;
}

#no-negatives {
  display: none;
  color: red;
  font-size: 30px;
  font-weight: bolder;
}

button{
  size: 50px;
  background-color: black;
  color: white;
  font-size:  20px;
  Padding: 10px 20px;
  border-radius: 10px;
}



